<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coen268.arttherapy"
    android:screenOrientation="portrait">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <service android:name=".SongPlay"
                 android:enabled="true"/>
        <activity
            android:name=".DrawCanvas"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".NotifyReceiver">
        <intent-filter>
            <action android:name="android.intent.action.USER_PRESENT"></action>
        </intent-filter>
            </receiver>

    </application>

</manifest>
